<form class="login" [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>

    <input matInput placeholder="Full Name" formControlName="name" style="font-family: monospace">
            <mat-hint *ngIf="registerForm.get('name')?.hasError('required') && registerForm.get('name')?.touched">
                Full name is required
            </mat-hint>
    <div></div>

    <input matInput placeholder="Username" formControlName="username" style="font-family: monospace">
            <mat-hint *ngIf="registerForm.get('username')?.hasError('required') && registerForm.get('username')?.touched">
                Username is required
            </mat-hint>
    <div></div>

    <input matInput placeholder="Email" formControlName="email" style="font-family: monospace">
            <mat-hint *ngIf="registerForm.get('email')?.hasError('required') && registerForm.get('email')?.touched">
                Email is required
            </mat-hint>
    <div></div>

    <input matInput type="password" placeholder="Password" formControlName="password" style="font-family: monospace">
            <mat-hint *ngIf="registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched">
                Password is required
            </mat-hint>
    <div></div>

    <input matInput type="password" placeholder="Password Confirmation" formControlName="confirmPassword" style="font-family: monospace">
            <mat-hint *ngIf="registerForm.get('confirmPassword')?.hasError('required') && registerForm.get('confirmPassword')?.touched">
                Password is not matching
            </mat-hint>
    <div></div>

    <button mat-flat-button color="primary" [disabled]="registerForm.invalid" type="submit">submit</button>

</form>